.forgot-password-background {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*buraya kadar tüm ekranı kapsattık ki arkaplan gri olsun*/
    background-color: rgba(0, 0, 0, 0.5);
    /*Arka planı karartır*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 500px;
    border-radius: .25rem;
    background-color: rgb(245, 245, 245);
    color: #18403c;
    padding: 10px 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

/*NAVIGATION BUTTONS*/
.forgot-password-wrapper .navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: #2c9ba6;
}

.forgot-password-wrapper .navigation-buttons .back-button:hover {
    color: #237c84
}
.forgot-password-wrapper .navigation-buttons .close-button:hover {
    color: #237c84
}

/*BODY*/
.forgot-password-wrapper .forgot-password-body {
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

.forgot-password-wrapper .forgot-password-body .title {
    font-size: 30px;
    font-weight: bold;
}

.forgot-password-wrapper .forgot-password-body .information-message {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 12px;
}

/*CONFIRM BUTTON*/
.forgot-password-wrapper .confirm-button {
    padding: 0px 60px;
}