.user-menu-wrapper {
    position: absolute;
    z-index: 999;
    top: 75px;
    right: 1rem;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #18403c40;
    background-color: rgb(245, 245, 245);
}

.user-menu-wrapper::before {
    content: '';
    position: absolute;
    top: -5.5px;
    right: 1.7rem;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    transform: rotate(45deg);
    border-top: 1px solid #18403c60;
    border-left: 1px solid #18403c60;
    border-bottom-right-radius: 100%;
    background-color: rgb(245, 245, 245);
}

.user-menu-wrapper .list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.user-menu-wrapper .list li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #18403c;
    cursor: pointer;
}

.user-menu-wrapper .list li:hover {
    background-color: rgb(235,235,235);
} 

.user-menu-wrapper .list li .icon {
    display: grid;
    flex: 25%;
    color: #2c9ba6;
}

.user-menu-wrapper .list li span {
    flex: 75%;
    color: #18403c;
}