.notification-wrapper {
    position: absolute;
    z-index: 999;
    top: 75px;
    right: 4.35rem;
    width: 360px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid #18403c40;
    background-color: rgb(245, 245, 245);
}

.notification-wrapper::before {
    content: '';
    position: absolute;
    top: -5.5px;
    right: 1.6rem;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    transform: rotate(45deg);
    border-top: 1px solid #18403c60;
    border-left: 1px solid #18403c60;
    border-bottom-right-radius: 100%;
    background-color: rgb(245, 245, 245);
}

.notification-wrapper .title {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #18403ce1;
    font-size: 16px;
}