.searchbar-wrapper {
    position: relative;
    width: 400px;
    height: 36px;
    border-radius: 16px;
}

.searchbar-wrapper .searchbar-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18403c;
}

.searchbar-wrapper .searchbar {
    width: inherit;
    height: 36px;
    border-radius: inherit;
    background-color: inherit;
    border: none;
    color: #18403c;
    font-size: 16px;
    padding: 0px 36px;
    box-sizing: border-box;
    border: 1px solid #18403c30;
}

.searchbar-wrapper .searchbar:focus {
    outline: none;
}

.searchbar-wrapper .searchbar-drop-down {
    position: absolute;
    top: 37px;
    left: 0px;
    width: inherit;
    max-height: 500px;
    padding: 12px 0px;
    box-sizing: border-box;
    border: 1px solid #18403c30;
    border-radius: 16px;
    background-color: rgb(245,245,245);
}